.initial-img{
    height: 535px;
}

.header-title{
    margin-top: 160px;
}

.nav-style{
    background-color: rgba(65,74, 76, 0.9);
    padding: 40px;
}

.logo{
    width: 60px;
    height: 60px;
    float: left;
}

.sub-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.products{
    width: 120px;
    height: 130px;
}

.header-products{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.p-poducts{
    text-align: center;
}

.gallery{
    margin-top: 30px;
    margin-bottom: 40px;
}

.title-gallery{
    text-align: center;
    margin-bottom: 25px;
}

footer{
    padding: 30px;
    text-align: center;
}

